<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Film Society Member Registration</title>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
        $.fn.serializeObject = function()
        {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function() {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };
    </script>
    
    <!-- Bootstrap -->
    <link href="asset/css/bootstrap.min.css" rel="stylesheet">  
    <!-- Bootstrap-datepicker -->
    <link href="asset/css/datepicker.css" rel="stylesheet">
    <!-- Bootstrap3-dialog 
    <link href="asset/bootstrap3-dialog/css/bootstrap-dialog.css" rel="stylesheet">
    -->
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    
    
    <div class="container-fluid">
      <form class="form-horizontal" action="#">
        <fieldset>

        <!-- Form Name -->
        <legend>Member Detail</legend>

        <!-- Text input-->
        <div id="inputs"></div>

        <!-- Button -->
        <div class="form-group "></div>
        <div class="col-md-4"></div>
          <div class="form-group text-center col-md-4">
            <button id="buttonReset" name="buttonReset" class="btn btn-danger">Reset</button>
          
          
            <button type="submit" id="buttonSubmit" name="buttonSubmit" class="btn btn-default">Submit</button>
          </div>
        </div>

        </fieldset>
      </form>
    </div>
    <script id="userConfirmTmpl" type="text/x-jsrender">
        {{for formData}}
        <div class="row">
          <label class="col-md-4 control-label" >{{:name}}</label>  
          <div class="col-md-4">{{:value}}</div>
        </div>
        {{/for}}
    </script>
    
    <script id="inputTmpl" type="text/x-jsrender">
      <div class="form-group">
        <label class="col-md-4 control-label" for={{:id}}>{{:label}}</label>  
        <div class="col-md-4">
        {{if isSelect}}
        <select id={{:id}} name={{:name}} class="form-control">
          {{for options}}
          <option value={{:value}}>{{:text}}</option>
          {{/for}}
        </select>
        {{else}}
        <input id={{:id}} name={{:name}} type={{:type}} {{if placeholder}}placeholder={{:placeholder}}{{/if}} {{if maxlength}} maxlength={{:maxlength}}{{/if}} class="form-control input-md" required=""/>
        {{/if}}
        
        </div>
      </div>
    </script>
    
    
    <!-- cr Framework -->
    <script src="asset/js/framework/util.js"></script>
    <script src="asset/js/framework/cr.js"></script>
    <script src="asset/js/framework/settings.js"></script>
    <script src="asset/js/framework/application.js"></script>
    <script src="asset/js/framework/alert.js"></script>
    <script src="asset/js/framework/event_target.js"></script>
    <script src="asset/js/framework/model.js"></script>
    <script src="asset/js/framework/pager.js"></script>
    <!-- /cr Framework -->
    
    <!-- jsview -->
    <script src="asset/js/dependency/jsviews.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="asset/js/dependency/bootstrap.js"></script>
    <!-- Bootstrap-datepicker -->
    <script src="asset/js/dependency/bootstrap-datepicker.js"></script>
    <!-- Bootstrap3-dialog -->
    <script src="asset/bootstrap3-dialog/js/bootstrap-dialog.js"></script>
    
    <!-- Views -->
    <script src="asset/js/models/front_models.js"></script>
    <script src="asset/js/viewModels/createMemberViewModel.js"></script>
    <!-- /Views -->
  </body> 
</html>