<div id="shopping-create-form" class="page-form">
	<div>
		<label>
			<span>Film 1:</span>
			<input type="text" name="film_1" spellcheck="false" autocomplete="off" maxlength="5" placeholder="Call Number">
		</label>
	</div>
	<div>
		<label>
			<span>Film 2:</span>
			<input type="text" name="film_2" spellcheck="false" autocomplete="off" maxlength="5" placeholder="Call Number">
		</label>
	</div>
	<div>
		<label>
			<span>Film 3:</span>
			<input type="text" name="film_3" spellcheck="false" autocomplete="off" maxlength="5" placeholder="Call Number">
		</label>
	</div>
	<div>
		<label>
			<span>Film 4:</span>
			<input type="text" name="film_4" spellcheck="false" autocomplete="off" maxlength="5" placeholder="Call Number">
		</label>
	</div>
	<div>
		<label>
			<span>Film 5:</span>
			<input type="text" name="film_5" spellcheck="false" autocomplete="off" maxlength="5" placeholder="Call Number">
		</label>
	</div>
	<div>
		<label>
			<span>Film 6:</span>
			<input type="text" name="film_6" spellcheck="false" autocomplete="off" maxlength="5" placeholder="Call Number">
		</label>
	</div>
	<div>
		<label>
			<span>Film 7:</span>
			<input type="text" name="film_7" spellcheck="false" autocomplete="off" maxlength="5" placeholder="Call Number">
		</label>
	</div>
	<div>
		<label>
			<span>Film 8:</span>
			<input type="text" name="film_8" spellcheck="false" autocomplete="off" maxlength="5" placeholder="Call Number">
		</label>
	</div>
	<div class="nocell">
		<label>
			<div>Remarks:</div>
			<textarea name="remarks" placeholder="Remarks of this Regular Film Show..." rows="5"></textarea>
		</label>
	</div>
</div>
